* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.post {
  width: 75%;
  border: solid 1px;
  margin: 1rem 0;
}

.post-images {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.post-image {
  width: 20%;
}

#item-form{

  #image-previews {
    background-color: gray;
    display: flex;
    width: 75rem;
    height: 15rem;
    border: solid 6px red;
    margin: 1rem 0;
    overflow: hidden;
    position: relative;
  }
  
  #camera-icon{
    position: absolute;
    z-index: 1234;
    margin: auto;
    width: 50%;
    height: 2rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
  }
  
  #image-select-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: gray;
    border: solid 6px blue;
    padding: 1rem;
    cursor: pointer;
  }
  
  .image-preview {
    width: 20%;
    background-color: white;
    flex-shrink: 0;
    border: solid 4px green;
    position: relative;
    z-index: 12345;
  }
  
  .image-preview__image {
    width: 100%;
    height: 80%;
    vertical-align: top;
  }
  
  .image-preview-buttons {
    display: flex;
    align-items: center;
    height: 20%;
  }
  
  .js-edit,
  .js-remove {
    flex-grow: 1;
    text-align: center;
    border: solid 1px;
    cursor: pointer;
  }
  
  input#post_images {
    display: none;
  }
  
  .js-file{
    // display: none;
    width:1rem;
  }
  
  .destroy_check{
    // display: none;
  }

}